/didson2022.pdf
/didson2022.aux
/didson2022.bcf
/didson2022.blg
/didson2022.log
/didson2022.out
/didson2022.synctex.gz
/didson2022.tex
/didson2022.toc
/didson2022.run.xml
/didson2022.bbl
*.toc
*.synctex.gz
*.run.xml
*.blg
*.log
*.out
*.aux
*.bbl
*.bcf
/didson2023.pdf
/didson2024.tex
/didson2024.pdf
/didson2024.synctex(busy)
