/N_interannuel.png
/Ncor.png
/aovefficacite.png
/circular_9-17.pdf
/circular_full_days.pdf
/comportement.pdf
/conditions_vannes2023.png
/debits_ajustes2023.png
/debits_inst2023.png
/debitturbidite.png
/debitvolet2023.png
/efficacite.png
/fig_effectif.pdf
/fig_effectif_pb.png
/fonctionnement_journuit_barrage.png
/fonctionnementvanne.png
/gam_predict.pdf
/heure_jourcomplet.png
/horaires.pdf
/horaires_all.pdf
/horairespb.png
/mosaic_taille_mois_all.pdf
/mulet.png
/mulet2.png
/niveaumer2023.png
/niveauvilaine2023.png
/nombre_taille_distance.png
/periode10_phis_didf_5.png
/periode11_phis_didf_-7.png
/periode12_phi0_didf_-7.png
/periode13_phi0_didf_14.png
/periode14_phif_didf_14.png
/periode1_phi0_didf_4.png
/periode2_phif_didf_4.png
/periode3_phis_didf_4.png
/periode4_phi0_dids_-7.png
/periode5_phif_dids_-7.png
/periode6_phis_dids_-7.png
/periode7_phif_didf_-7.png
/periode8_phi0_didf_5.png
/periode9_phif_didf_5.png
/position01.pdf
/position02.pdf
/position03.pdf
/position04.pdf
/position10.pdf
/position11.pdf
/position12.pdf
/qualite_distance2022-2023.png
/qualite_distance_vanne_all.png
/qualite_distance_volet_all.png
/structure_taille.pdf
/taille_dist_mois.pdf
/taille_dist_mois_all.pdf
/taille_distance.pdf
/taille_distance_vannefond.pdf
/taille_distance_volet.pdf
/taille_poids.pdf
/tpsboxplot.pdf
/tpspoint.pdf
